.sidebar{
  height: 100%;
  overflow: hidden;
  border-right: 2px solid var(--grey-color);
}

.logo-holder{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

li a {
  text-decoration: none;
  color: inherit;
}

li.menu-item {
  height: 32px;
  text-align: center;
  list-style-type: none;
  padding: 8px;
  cursor: pointer;
  transition: all .2s ease-in;
}

li.menu-item:hover {
  transform: scale(1.5);
}
